<form [formGroup]="animalForm"  (submit)="addAnimal($event)" class="animal-form" novalidate>
    <mat-form-field appearance="outline" class="animal-input">
      <mat-label>Animal name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="submit-btn">Add</button>
</form>
  
<div style="height: 24px; margin-top: 10px;">
    <span *ngIf="showMessage" style="color: green;">Animal added!</span>
</div>
  
  

<router-outlet></router-outlet>